node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.history
.env
# src/components/form-controlled-field
package-lock.json
*.parse.tsx

# Score content
public/scorm/
