.banner {
	position: relative;
	z-index: 1;

	.banner__content {
		padding: 3em 1em;
		background-color: rgba(0, 0, 0, 0.5);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: $white;
		width: 100%;
		height: 100%;
		min-height: 30vh;
		z-index: 3;
		position: relative;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: inherit;
		}

		> *:not(.container) {
			max-width: 1300px;
		}

		p {
			font-size: 18px;
			font-weight: 400;
			line-height: 1.8;
		}
	}

	.banner__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 2;
	}

	&.hero {
		background-image: url('/images/zimbabwean-sunset-2025-01-29-07-27-48-utc.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin-top: 100px;

		&.text-center {
			.banner__content {
				text-align: center;
				align-items: center;

				h1,
				h2,
				h3,
				h4,
				h5,
				h6,
				p {
					margin: 0 auto;
					width: 100%;
					max-width: 80%;
				}
			}
		}

		.banner__content {
			padding: 3em 1em;
			background-color: rgba(0, 0, 0, 0.5);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			text-align: left;
			color: $white;
			width: 100%;
			height: 100%;
			min-height: 100vh;

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: inherit;
				width: 65%;
				font-weight: 100;
				font-family: 'Canela Thin';
				font-size: 6em;

				strong {
					font-weight: 600;
					font-family: 'Canela Text Trial';
					color: $ui-primary;
				}
			}

			p {
				font-size: 18px;
				font-weight: 400;
				width: 50%;
				line-height: 1.8;
			}
		}
	}

	&.newsletter {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $gray-900;
		background-image: none;

		.banner__content {
			padding: 2em;
			min-height: 0;
			background-color: $gray-900;

			.container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				h1,
				h2,
				h3,
				h4,
				h5,
				h6,
				p {
					color: $ui-info !important;
				}

				.banner__form {
					text-align: center;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					width: 100%;
					.card {
						padding: 0;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						background-color: transparent;

						form {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;

							> div {
								margin-left: 1em;
							}
						}
					}
				}
			}
		}
	}

	&.h50 {
		.banner__image {
			min-height: 50vh;
			object-position: bottom;
		}
		.banner__content {
			min-height: 50vh;
		}
	}
}
