.faq-list-container {
	text-align: left;

	ul {
		margin: 1rem 0 0 0;
		padding: 2em;
		background-color: $gray-300;
		li {
			list-style: none;
			button {
				width: 100%;
				text-align: left;
				letter-spacing: 0;
				text-transform: initial;
				font-size: $font-size-md;
				margin: 0 4px 10px;
				color: $gray-900;
				text-decoration: none;
				min-height: 10px;
				padding: 5px 0px;
				font-weight: 700;
				border-radius: 0;

				&.active {
					color: $ui-secondary;
				}
			}
		}
	}

	.faq-answer {
		display: none;
		margin-top: 1rem;
		padding: 3em;
		white-space: pre-line;
		margin-left: -30px;

		&.active {
			display: block;
		}
	}
}
