.footer {
  background-color: $primary;
  color: $white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
    font-family: $typography-button-font-family;
    margin: 50px 0 10px;
    text-transform: uppercase;
  }

  p {
    color: $white;
    font-family: $typography-button-font-family;
    font-weight: 300;
    font-size: 13px;
  }

  a {
    color: $white;
    line-height: 2.5;
    text-decoration: none;
    font-family: $typography-button-font-family;
    font-weight: 300;

    &:hover {
      text-decoration: underline;
    }
  }
}
