.top-main-navbar {
	.nav-item {
		.form-control {
			margin: 0;
		}
		.nav-link {
			font-size: 12px;
			margin: 0 20px;
			padding: 0 !important;
			font-weight: 600;
			font-family: $typography-button-font-family;
			color: #54595f !important;

			&.active {
				color: $primary !important;
			}
		}
	}

	.dropdown-item {
		font-size: 12px;
		margin: 0;
		font-weight: 400;
		font-family: $typography-button-font-family;
		color: #54595f !important;
		padding: 0.715rem 24px !important;
		letter-spacing: 2px;
		line-height: 23px;
		text-transform: uppercase;
		width: 200px;

		&.active {
			color: $white !important;
			font-weight: 600;
		}
	}
	.dropdown-toggle {
		font-size: 12px;
		margin: 0 20px;
		font-weight: 400;
		font-family: $typography-button-font-family;
		color: #54595f !important;
		padding: 0.715rem 24px !important;
		letter-spacing: 2px;
		line-height: 23px;
	}
}
