.page-detail-tabs {
	margin: 0 -3px;
	.nav-item {
		margin: 0 3px;
	}
	.nav-link {
		background-color: $ui-primary !important;
		color: $white !important;
		text-transform: uppercase !important;
		letter-spacing: 2px !important;
		line-height: 23px !important;
		font-weight: 600;
		font-size: $font-size-sm !important;
		&.active {
			background-color: $ui-info !important;
			color: $ui-dark !important;
		}
	}
}
.nav-fill > .nav-link,
.nav-fill .nav-item {
	flex: 1 1 auto;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.nav-fill > .nav-link,
	.nav-fill .nav-item {
		flex: 1 1 100%;
		text-align: center;
	}
}

.custom-toast {
	position: fixed;
	bottom: 30px;
	left: 30px;
	z-index: 999999;
}
