.tour-card {
	background-color: $ui-primary;
	border-radius: 0.25rem;
	margin-bottom: 0;
	position: relative;
	z-index: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: $tour-card-height;
	overflow: hidden;
	border: 1px solid $ui-primary;

	&:hover {
		border: 1px solid $ui-primary;
	}

	.tour-car-price {
		position: absolute;
		right: 20px;
		top: 20px;
		background-color: $ui-dark;
		padding: 10px 20px;
		border-radius: 3px;
		color: $white;
		font-size: 16px;
		z-index: 6;

		&:before {
			content: '';
			position: absolute;
			display: block;
			right: -10px;
			top: 2px;
			width: 0;
			height: 0;
			border-top: 20px solid transparent;
			border-bottom: 20px solid transparent;
			border-left: 20px solid $ui-dark;
		}
	}
	.tour-card__image {
		width: 100%;
		height: calc($tour-card-height - $tour-card-content-height) !important;
		object-fit: cover;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 5;
		filter: brightness(1.05) contrast(130%) saturate(160%) sepia(20%) hue-rotate(15deg);
		-webkit-filter: brightness(1.05) contrast(130%) saturate(160%) sepia(20%) hue-rotate(15deg);
		-moz-filter: brightness(1.05) contrast(130%) saturate(160%) sepia(20%) hue-rotate(15deg);
	}

	.tour-card__overlay {
		background-color: rgba(0, 0, 0, 1);
		border-radius: 0.5rem;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: $white;
		width: 100%;
		height: 100%;
		min-height: calc($tour-card-height - $tour-card-content-height) !important;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		overflow: hidden;
	}

	.tour-card__content {
		position: relative;
		z-index: 3;
		padding: 0;
		color: $ui-primary;
		display: flex;
		flex-direction: column;
		align-items: baseline;
		justify-content: space-between;
		overflow: hidden;
		height: 100%;
		width: 100%;
		border: 0;
		text-align: left;

		.tour-card__text {
			background-color: $ui-light;
			padding: 1em;
			overflow: hidden;
			height: $tour-card-content-height;
			width: 100%;
			text-decoration: none;

			p {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}

		.btn-link {
			font-size: $font-size-md;
			text-transform: none;
			color: $ui-dark;
			font-weight: 600;
			letter-spacing: 0;
			margin: 0;
		}

		.tour-detail {
			font-size: 14px;
			color: $ui-dark;
			margin: 0 !important;
		}
	}
}

.destination-card {
	position: relative;
	z-index: 1;
	overflow: hidden;
	height: 60vh;
	background-color: $body-secondary-color;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 2;
		filter: brightness(1.05) contrast(130%) saturate(160%) sepia(20%) hue-rotate(15deg);
		-webkit-filter: brightness(1.05) contrast(130%) saturate(160%) sepia(20%) hue-rotate(15deg);
		-moz-filter: brightness(1.05) contrast(130%) saturate(160%) sepia(20%) hue-rotate(15deg);
	}
	.destination-card__content {
		position: relative;
		z-index: 3;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.6);
		color: $white;
		padding: 2em;
		> * {
			width: 100%;
			color: $white;
		}
	}
}

.carousel-indicators [data-bs-target] {
	width: 10px;
	height: 10px;
	border-radius: 10px !important;
}

.carousel-indicators {
	justify-content: flex-start !important;
	margin-left: 20px !important;
}

.rating-float {
	position: absolute;
	right: 0;
	bottom: $tour-card-content-height;
	z-index: 999999999;
	color: #ffff;
	background: rgba(0, 0, 0, 0.4);
	align-items: center;
	padding: 10px;
	display: flex;
	flex-direction: column;
	margin: 0;

	span {
		font-weight: 700;
	}

	svg {
		width: 20px;
		height: 20px;
		color: $ui-secondary;
	}
}
