// Lux 5.3.5
// Bootswatch

$theme: 'lux' !default;

//
// Color system
//

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #eceeef !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #7a7a7a !default;
$gray-700: #54595f !default;
$gray-800: #3a3a3a !default;
$gray-900: #303030 !default;
$black: #000 !default;

$blue: #6ec1e4 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #d9534f !default;
$orange: #d2a339 !default;
$yellow: #61ce70 !default;
$green: #91913e !default;
$teal: #20c997 !default;
$cyan: #1f9bcf !default;

// NEW UI COLORS
$ui-primary: #8b8c6f !default;
$ui-secondary: #a37c52 !default;
$ui-success: $green !default;
$ui-info: #d5b972 !default;
$ui-warning: $yellow !default;
$ui-danger: $red !default;
$ui-light: #f5f1eb !default;
$ui-dark: #393733 !default;

$typography-primary-font-family: 'Inter';
$typography-primary-font-weight: 400;
$typography-button-font-family: 'Inter';
$typography-button-font-weight: 600;
$typography-heading-font-family: 'Canela Medium';
$typography-heading-font-weight: 500;

// NEW UI COLORS
$primary: $ui-primary !default;
$secondary: $ui-secondary !default;
$success: $green !default;
$info: $ui-info !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $ui-light !default;
$dark: $ui-dark !default;

// TODO: OLD UI COLORS
// $primary: $green !default;
// $secondary: $white !default;
// $success: $green !default;
// $info: $blue !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $white !default;
// $dark: $gray-900 !default;

$min-contrast-ratio: 1.9 !default;

// Options

$enable-rounded: false !default;

// Body

$body-color: $gray-700 !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 200 !default;
$font-weight-normal: 300 !default;
$font-weight-medium: 400 !default;
$font-weight-semibold: 500 !default;
$font-weight-bold: 600 !default;
$font-weight-bolder: bolder !default;

$font-size-xs: 0.4rem !default;
$font-size-sm: 0.7rem !default;
$font-size-md: 1rem !default;
$font-size-lg: 1.5rem !default;
$font-size-xl: 3rem !default;

$h1-font-size: 2rem !default;
$h2-font-size: 1.75rem !default;
$h3-font-size: 1.5rem !default;
$h4-font-size: 1.25rem !default;
$h5-font-size: 1rem !default;
$h6-font-size: 0.75rem !default;
$headings-font-weight: 600 !default;
$headings-color: $gray-900 !default;

// Tables

$table-color: initial !default;

$table-border-color: rgba(0, 0, 0, 0.05) !default;

// Buttons + Forms

// Buttons

$btn-line-height: 1.5rem !default;
$input-btn-padding-y: 0.75rem !default;
$input-btn-padding-x: 1.5rem !default;
$input-btn-padding-y-sm: 0.5rem !default;
$input-btn-padding-x-sm: 1rem !default;
$input-btn-padding-y-lg: 2rem !default;
$input-btn-padding-x-lg: 2rem !default;
$btn-font-weight: 600 !default;

// Forms

$input-line-height: 1.5 !default;
$input-bg: $gray-200 !default;
$input-disabled-bg: $gray-300 !default;
$input-group-addon-bg: $gray-300 !default;

$form-select-disabled-color: $gray-600 !default;
$form-select-disabled-bg: $input-disabled-bg !default;

// Navbar

$navbar-padding-y: 1.5rem !default;
$navbar-dark-hover-color: $white !default;
$navbar-light-color: rgba($black, 0.3) !default;
$navbar-light-hover-color: $gray-900 !default;
$navbar-light-active-color: $gray-900 !default;

// Pagination

$pagination-border-color: transparent !default;
$pagination-hover-border-color: $pagination-border-color !default;
$pagination-disabled-border-color: $pagination-border-color !default;
