@import 'primereact/resources/themes/saga-green/theme.css'; // theme

/** IMPORT BOOTSTRAP SCSS **/
@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import 'bootswatch';

/** IMPORT CUSTOM SCSS **/
@import './components/banner';
@import './components/navbar';
@import './components/input';
@import './components/topbar';
@import './components/tour';
@import './components/footer';
@import './components/page';
@import './components/tabs';
@import './components/carousel';
@import './components/contact';
@import './components/form';
@import './components/steps';
@import './components/faq';
@import './components/map';
@import './components/table';
@import './components/image';
@import './components/chip';
@import './components/booking';

@font-face {
	font-family: 'Canela Thin';
	src: url('/fonts/Canela-Thin-Trial.otf'), url('/fonts/Canela-ThinItalic-Trial.otf'), url('/fonts/CanelaCondensed-Thin-Trial.otf'),
		url('/fonts/CanelaCondensed-ThinItalic-Trial.otf'), url('/fonts/CanelaDeck-Thin-Trial.otf'),
		url('/fonts/CanelaDeck-ThinItalic-Trial.otf'), url('/fonts/CanelaText-Thin-Trial.otf'),
		url('/fonts/CanelaText-ThinItalic-Trial.otf');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Canela Light';
	src: url('/fonts/Canela-Light-Trial.otf'), url('/fonts/Canela-LightItalic-Trial.otf'), url('/fonts/CanelaCondensed-Light-Trial.otf'),
		url('/fonts/CanelaCondensed-LightItalic-Trial.otf'), url('/fonts/CanelaDeck-Light-Trial.otf'),
		url('/fonts/CanelaDeck-LightItalic-Trial.otf'), url('/fonts/CanelaText-Light-Trial.otf'),
		url('/fonts/CanelaText-LightItalic-Trial.otf');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Canela';
	src: url('/fonts/Canela-Regular-Trial.otf'), url('/fonts/Canela-RegularItalic-Trial.otf'),
		url('/fonts/CanelaCondensed-Regular-Trial.otf'), url('/fonts/CanelaCondensed-RegularItalic-Trial.otf'),
		url('/fonts/CanelaDeck-Regular-Trial.otf'), url('/fonts/CanelaDeck-RegularItalic-Trial.otf'),
		url('/fonts/CanelaText-Regular-Trial.otf'), url('/fonts/CanelaText-RegularItalic-Trial.otf'),
		url('/fonts/CanelaText-RegularNo2-Trial.otf'), url('/fonts/CanelaText-RegularNo2Italic-Trial.otf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Canela Medium';
	src: url('/fonts/Canela-Medium-Trial.otf'), url('/fonts/Canela-MediumItalic-Trial.otf'), url('/fonts/CanelaCondensed-Medium-Trial.otf'),
		url('/fonts/CanelaCondensed-MediumItalic-Trial.otf'), url('/fonts/CanelaDeck-Medium-Trial.otf'),
		url('/fonts/CanelaDeck-MediumItalic-Trial (1).otf'), url('/fonts/CanelaDeck-MediumItalic-Trial.otf'),
		url('/fonts/CanelaText-Medium-Trial.otf'), url('/fonts/CanelaText-MediumItalic-Trial.otf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Canela Bold';
	src: url('/fonts/Canela-Bold-Trial.otf'), url('/fonts/Canela-BoldItalic-Trial.otf'), url('/fonts/CanelaCondensed-Bold-Trial.otf'),
		url('/fonts/CanelaCondensed-BoldItalic-Trial.otf'), url('/fonts/CanelaDeck-Bold-Trial.otf'),
		url('/fonts/CanelaDeck-BoldItalic-Trial.otf'), url('/fonts/CanelaText-Bold-Trial.otf'),
		url('/fonts/CanelaText-BoldItalic-Trial.otf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Canela Black';
	src: url('/fonts/Canela-Black-Trial.otf'), url('/fonts/Canela-BlackItalic-Trial.otf'), url('/fonts/CanelaCondensed-Black-Trial.otf'),
		url('/fonts/CanelaCondensed-BlackItalic-Trial.otf'), url('/fonts/CanelaDeck-Black-Trial.otf'),
		url('/fonts/CanelaDeck-BlackItalic-Trial.otf'), url('/fonts/CanelaText-Black-Trial.otf'),
		url('/fonts/CanelaText-BlackItalic-Trial.otf');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

.font-family-primary {
	font-family: $typography-primary-font-family !important;
}
.font-family-button {
	font-family: $typography-button-font-family !important;
	letter-spacing: 2px;
}
.font-family-heading {
	font-family: $typography-heading-font-family !important;
}

:root {
	--bs-nav-tabs-link-active-color: #{$white} !important;
	--bs-nav-tabs-link-active-bg: #{$primary} !important;
	--bs-nav-tabs-link-active-border-color: #{$primary} !important;
	--bs-nav-link-color: #{$gray-800} !important;
	--joa-ui-radius: 10px !important;
	--joa-ui-radius-sm: 4px !important;
	--joa-ui-radius-md: 8px !important;
	--joa-ui-radius-ld: 24px !important;
}

body {
	background-color: $ui-light;
	letter-spacing: 0;
}

/** GLOBAL STYLES **/
h1 {
	font-size: 55px;
}

h2 {
	font-size: 45px;
}

h3 {
	font-size: 38px;
}

h4 {
	font-size: 27px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.main-header-top {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
	background-color: $white;
}

.main-video {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	margin-bottom: -10px;
}

.p-inputtext,
.p-dropdown {
	border-radius: var(--joa-ui-radius);
}

.number-font {
	font-family: $typography-number-font-family !important;
}

.text-capitalize {
	text-transform: capitalize;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-lowercase {
	text-transform: lowercase;
}

.border-1 {
	border: 1px solid $ui-primary;
}

.card {
	background-color: $ui-light;
}

.text-secondary {
	color: $ui-secondary !important;
}

.text-success {
	color: $ui-success !important;
}

.h-full {
	height: 100vh;
}

.border-right-divider {
	border-right: 1px solid var(--bs-info);
}

.rate-table {
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: var(--joa-ui-radius);
	border: 1px solid var(--bs-info);

	tr,
	tbody {
		border: 1px solid var(--bs-info);
	}

	td {
		border: 1px solid var(--bs-info);
		padding: 0.5rem;
	}
}

.meet-the-team {
	.card {
		.card-body {
			padding: 2em;
			.card-title {
				font-family: $typography-heading-font-family;
				font-weight: 600;
				font-size: 1.5rem;
				color: $ui-primary;
			}
		}
	}
}

.sectional-bg {
	background-color: #e1e1e1;
}

.bg-muted {
	background-color: #e1e1e1;
}

.letter-spacing-0 {
	letter-spacing: 0;
}
.letter-spacing-1 {
	letter-spacing: 1px;
}
.letter-spacing-2 {
	letter-spacing: 2px;
}
.fw-thin {
	font-family: 'Canela Thin';
}
.fw-light {
	font-family: 'Canela Light';
}
.border-left-secondary-1 {
	border-left: 1px solid $ui-secondary;
}
.border-right-secondary-1 {
	border-right: 1px solid $ui-secondary;
}

.p-timeline-event {
	.time-content {
		font-size: 14px;
		padding: 1em;
		border-radius: 10px;
		margin-bottom: 30px;
		max-width: 300px;
	}
	&:nth-child(even) {
		.time-content {
			float: right;
		}
	}
	&:nth-child(odd) {
		.time-content {
			float: left;
		}
	}
}

.p-timeline-event-separator {
	> span {
		width: 30px;
		height: 30px;
		border-radius: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.cta-banner-content {
	display: flex;
	justify-content: space-between;
	height: 30vh;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;

	&.text-right {
		align-items: flex-end;
	}
}
.read-more {
	display: block;
	width: 100%;
	margin: 0;

	.read-more__toggle {
		color: $ui-secondary;
		background: none;
		border: 0;
		padding: 0;
		width: 100%;
		margin: 0;

		svg {
			width: 40px;
			height: 40px;
		}

		&.sm {
			svg {
				width: 20px;
				height: 20px;
			}
		}
	}

	.read-more-content {
		height: 0;
		overflow: hidden;
		transition: all ease-in-out 0.3s;
		&.expanded {
			height: 100%;
			overflow: visible;
			transition: all ease-in-out 0.3s;
			padding: 1em 0;

			ul {
				text-align: left;

				li {
					margin: 0 0 10px;
				}
			}
		}
	}
}

.carousel-control-prev {
	opacity: 1 !important;
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.carousel-control-next {
	opacity: 1 !important;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	border-radius: 50%;
}

.global-loading {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 99999;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-image {
	width: 100%;
	max-width: 50px;

	&.md {
		max-width: 75px;
	}

	&.lg {
		width: 150px;
	}
}

.inline-icon-image {
	width: 100%;
	max-width: 20px;
	margin-right: 20px;

	&.lg {
		max-width: 40px;
		margin-right: 10px;
	}
}

.breadcrums-top-nav {
	font-size: 12px;
	margin-top: 30px;

	a {
		color: $ui-secondary;
		text-decoration: none;
		font-weight: 700;
		&:hover {
			text-decoration: underline;
		}
	}
}

.table-img-thumbnail {
	max-width: 200px;
}

.safari-table {
	th,
	td {
		padding: 0 20px !important;
		vertical-align: middle !important;
	}
}
